*{
	outline: none;
}

body, html{
	margin: 0;
	background-color: #E0F2F1;
}

h2{
	padding: 10px;
	background-color: rgba(128,203,196,0.4);
	font-family: Arial;
}

form{
	display: block;
	margin: 8% auto;
	background-color: rgba(128,203,196,0.4);
	width: 250px;
    border-radius: 9px;
    padding: 25px;
}

input[type="text"],input[type="password"]{
	margin-bottom: 15px;
	margin-top: 3px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-radius: 4px;
}

input[type="submit"],input[type="button"]{
	display: inline-block;
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #00695C;
	border: none;
	border-radius: 15px;
	box-shadow: 0 7px #999;
}

input[type="submit"]:hover,input[type="button"]:hover{
	background-color: #004D40;
}

input[type="submit"]:active,input[type="button"]:active{
	background-color: #004D40;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

label{
	font-family: Arial;
	font-weight: bold;
}

a {
    text-decoration: none;
}

p{
	margin-bottom: -12px;
}
